{% extends '::content.html.twig' %}

{% block contentTitle %}{{ "Order"|trans ~ " " ~ app.request.get('id') }}{% endblock %}
    {% block contentBody %}

        <div class="portlet box blue-hoki">
            <div class="portlet-title">
                <div class="caption">
                    <i class="fa fa-plus"></i>{{ "Update"|trans }}
                </div>
            </div>
            <div class="portlet-body form">
                <form action="{{ path('order_update') }}" method="post" class="horizontal-form" id="order">

                    <input type="hidden" value="{{ app.request.get('id') }}" name="id"/>

                    <div class="form-body">
                        <h3 class="fornm-section">{{ "Customer Data"|trans }}</h3>

                        <div class="row">

                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="control-label">{{ "Customer"|trans }}</label>
                                    <span class="required">* </span>
                                    <select name="customer" class="select2me form-control" disabled>
                                        {% for customer in customers %}

                                            <option value="{{ customer.id }}"
                                                    {% if customer.id == order.customer.id %}selected{% endif %}>{{ customer.name }}</option>

                                        {% endfor %}
                                    </select>
                                </div>
                            </div>

                            <div class="col-md-8">
                                <div class="form-group">
                                    <label class="control-label">{{ "Note"|trans }}</label>
                                    <textarea name="note" rows="1" maxlength="225" class="form-control" id="maxlength_textarea">
                                        {{ order.note }}
                                    </textarea>
                                </div>
                            </div>

                        </div>

                        <h3 class="form-section">{{ "Items"|trans }}</h3>

                        {% for item in order.items %}

                            <div class="row products">

                                <div class="col-md-4">
                                    <div class="form-group">

                                        {% if loop.index == 1 %}
                                            <label class="control-label oLabel">{{ "Product"|trans }}</label>
                                            <span class="required">* </span>
                                        {% endif %}

                                        <select name="product[]" class="form-control customSelect">
                                            <option value="">Selecione...</option>
                                            {% for product in products %}
                                                <option value="{{ product.id }}"
                                                        {% if product.id == item.product.id %}selected{% endif %}>{{ product.description }}</option>
                                            {% endfor %}
                                        </select>

                                    </div>
                                </div>

                                <div class="col-md-2">
                                    <div class="form-group">

                                        {% if loop.index == 1 %}
                                            <label class="control-label">{{ "Sale value"|trans }}</label>
                                        {% endif %}
                                        <input type="text"
                                               class="form-control mask_currency"
                                               name="saleValue[]"
                                               disabled
                                               value="{{ item.product.saleValue }}"
                                                >
                                    </div>
                                </div>

                                <div class="col-md-2">
                                    <div class="form-group">
                                        {% if loop.index == 1 %}
                                            <label class="control-label">{{ "Saled Value"|trans }}</label>
                                        {% endif %}
                                        <input type="text"
                                               class="form-control mask_currency"
                                               name="soldValue[]"
                                               value="{{ item.soldValue }}"
                                                >
                                    </div>
                                </div>

                                <div class="col-md-1">
                                    <div class="form-group">
                                        {% if loop.index == 1 %}
                                            <label class="control-label">{{ "Quantity"|trans }}</label>

                                            <span class="required">* </span>
                                        {% endif %}
                                        <input type="text"
                                               class="form-control numeric"
                                               name="quantity[]" value="{{ item.quantity }}">
                                    </div>
                                </div>

                                <div class="col-md-3">
                                    <div class="form-group">
                                        {% if loop.index == 1 %}
                                            <label class="control-label">{{ "Subtotal"|trans }}</label>
                                        {% endif %}
                                        <div class="input-group">
                                            <input type="text" class="form-control mask_currency" name="subtotal[]"
                                                   value="{{ item.subtotal }}"
                                                   disabled>
											<span class="input-group-btn">
											<button type="button" class="btn red deleteLine"><i class="fa fa-close"></i>
                                            </button>
											</span>
                                        </div>

                                    </div>
                                </div>


                            </div>

                        {% endfor %}

                        <div class="row">
                            <div class="col-md-3 col-sm-offset-9">
                                <div class="form-group">
                                    <label class="control-label">{{ "Total"|trans }}</label>
                                    <input id="total" type="text" class="form-control mask_currency" disabled>
                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="form-actions">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="row">
                                    <div class="col-md-1" style="float: right; margin-right: 15px;">
                                        <button type="submit" class="btn green">{{ "Update"|trans }}</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>

    {% endblock %}

{% block pageScripts %}
    {% include 'BackendBundle:Order:script.html.twig' %}
{% endblock %}
