{% extends '::content.html.twig' %}


{% block contentTitle %}Dados Usuário{% endblock %}

{% block contentBody %}

    <div class="portlet box ">
        <div class="portlet-body form">
            <!-- BEGIN FORM-->
            <form role="form" class="form-horizontal">
                <div class="form-body">
                    <h2 class="margin-bottom-20"> {{ entity.name | upper }} </h2>

                    <h3 class="form-section">Informações</h3>

                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="control-label col-md-3">Nome:</label>

                                <div class="col-md-9">
                                    <p class="form-control-static">
                                        {{ entity.name }}
                                    </p>
                                </div>
                            </div>
                        </div>
                        <!--/span-->
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="control-label col-md-3">Usuário</label>

                                <div class="col-md-9">
                                    <p class="form-control-static">
                                        {{ entity.username }}
                                    </p>
                                </div>
                            </div>
                        </div>
                        <!--/span-->
                    </div>
                    <!--/row-->
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="control-label col-md-3">E-mail</label>

                                <div class="col-md-9">
                                    <p class="form-control-static">
                                        {{ entity.email }}
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--/row-->
                </div>
                <div class="form-actions">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="row">
                                <div class="col-md-offset-3 col-md-9">
                                    <a class="btn green" href="{{ path('user_edit', {'id':entity.id}) }}"><i class="fa fa-pencil"></i> Editar</a>
                                    <a class="btn default" href="{{ path('user') }}"> Voltar</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                        </div>
                    </div>
                </div>
            </form>
            <!-- END FORM-->
        </div>
    </div>

{% endblock %}

