<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
    <h4 class="modal-title">{{ "Customer"|trans ~ ": " ~ customer.name }} </h4>
</div>
<div class="modal-body">
    <div class="row">
        <div class="form-body">
            <div class="col-md-12">
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <label class="control-label col-md-3">{{ "Address"|trans }}</label>

                            <div class="col-md-9">
                                {{ customer.address }}
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="form-group">
                            <label class="control-label col-md-3">{{ "Zipcode"|trans }}</label>

                            <div class="col-md-9">
                                {{ customer.zipcode }}
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="form-group">
                            <label class="control-label col-md-3">{{ "Phone"|trans }}</label>

                            <div class="col-md-9">
                                {{ customer.phone }}
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="form-group">
                            <label class="control-label col-md-3">{{ "Email"|trans }}</label>

                            <div class="col-md-9">
                                {{ customer.email }}
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="form-group">
                            <label class="control-label col-md-3">{{ "Balance"|trans }}</label>

                            <div class="col-md-9" style="color: {% if customer.balance < 0 %}red{% else %}blue{% endif %};">
                                R$ {{ customer.balance|number_format(2,',','.') }}
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="form-group">
                            <label class="control-label col-md-3">{{ "CreatedAt"|trans }}</label>

                            <div class="col-md-9">
                                {{ customer.createdAt|date('d/m/Y h:i:s') }}
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="form-group">
                            <label class="control-label col-md-3">{{ "UpdateAt"|trans }}</label>

                            <div class="col-md-9">
                                {{ customer.updatedAt|date('d/m/Y h:i:s') }}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal-footer">
    <button type="button" data-dismiss="modal" class="btn default">{{ "Close"|trans }}</button>
</div>