{% extends '::content.html.twig' %}
{% import '::macro.html.twig' as table %}

{% block contentTitle %}Tipos de Usuário{% endblock %}

{% block contentBody %}

    <div class="row">
        <div class="col-md-12">

            <div class="portlet box blue-hoki">
                <div class="portlet-title">
                    <div class="caption">
                        <i class="fa fa-search"></i>Pesquisar
                    </div>
                    <div class="tools">
                    </div>
                </div>
                <div class="portlet-body">
                    <div class="table-toolbar">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="btn-group">
                                    <a href="{{ path('user_type_new') }}" class="btn blue-hoki">Novo <i
                                                class="fa fa-plus"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <table class="table table-striped table-bordered table-hover" id="customDataTable">
                        <thead>
                        <tr>
                            <th>Nome</th>
                            <th>Descrição</th>
                            <th>Ações</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for entity in entities %}
                            <tr class="odd gradeX">
                                <td>{{ entity.name }}</td>
                                <td>{{ entity.description }}</td>
                                <td width="26%">
                                    <a class="btn btn-xs blue-hoki" href="{{ path('user_type_edit',{'id':entity.id}) }}"><i
                                                class="fa fa-edit"></i> Editar</a>

                                    <a class="btn btn-xs red btn-delete"
                                       data-toggle="modal"
                                       data-id="{{ entity.id }}"
                                       data-name="{{ entity.name }}"
                                       data-href="{{ path('user_type_delete', {'id':entity.id}) }}">
                                        <i class="fa fa-close"></i>Excluir
                                    </a>
                                </td>

                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>

        </div>
    </div>

    {# Modal Delete #}
    {% include 'UserBundle:UserType:delete.html.twig' %}

    {# Modal Show/Details #}

{% endblock %}